<template>
     <div class="transition duration-200 flex-shrink-0 button-control bg-gd-yellow hover:bg-gd-yellow-dark text-opacity-50 hover:text-opacity-100 text-gd-neutral-dark next">
        <svg class="w-4 h-4" width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.07812 21.2188L0.140625 20.3281C-0.046875 20.0937 -0.046875 19.7187 0.140625 19.5312L8.625 11.0469L0.140628 2.51562C-0.0468719 2.32812 -0.0468719 1.95312 0.140628 1.71875L1.07813 0.828125C1.3125 0.59375 1.64063 0.59375 1.875 0.828125L11.7188 10.625C11.9063 10.8594 11.9063 11.1875 11.7188 11.4219L1.875 21.2188C1.64062 21.4531 1.3125 21.4531 1.07812 21.2188Z" fill="currentColor"/>
        </svg>
    </div>
</template>

<script>
export default {
    props: {
        
    }
}
</script>